body {
    background-image: linear-gradient(white, brown);
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

main, header, footer {
    width: 70%;
    margin: auto;
}

header, footer {
    text-align: center;

#fhi {
    font-size: 21;
}

header > img {
    display: block;
    width: 50%;
    margin: auto;
}
